// PARTIAL FOR REPLY
<div class="content columns">
    {{#each this}}
    <div class="column is-offset-1">
        <div class="card m-3">
            <div class="card-content">
                <div class="columns">
                    <p class="is-size-4 has-text-primary fancy"><b>{{user.username}} </b></p>
                    <p class="is-size-5 has-text-grey-light fancy m-1">posted on {{created_at}}</p>
                </div>
                <div class="columns has-text-justified">
                    <p class="is-size-6">{{comment_text}}</p>
                </div>
                <div class="columns is-justify-content-right">
                    <a href="/reply" class="button is-primary">Reply</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>