<div class="column is-two-thirds">
    <div class="columns">
        <!-- IMAGE -->
        <div class="column m-3">
            <img src="/assets/guyimage.png"/>
        </div>
<div class="column is-three-quarters">
    <div class="card m-5">
        <div class="card-header has-background-primary">
            <div class="card-header-title">
                <h1 class="has-text-white is-size-3">
                    Edit Comment
                </h1>
            </div>
            <div class="card-header-icon">
                <span class="icon has-text-white is-size-2">
                    <ion-icon name="create-outline"></ion-icon>
                </span>
            </div>
        </div>
        <div class="card-content">
            <form class="edit-comment-form">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea m-2" name="edit-comment-body">
                            {{comment.comment_text}}
                        </textarea>
                    </div>
                </div>
                <button class="button is-primary is-fullwidth m-2" type="submit"><b>Save Comment</b></button>
                <button class="button is-danger is-fullwidth m-2 delete-comment-btn"><b>Delete Comment</b></button>
            </form>
        </div>
    </div>
</div>
<script src="/javascript/edit-comment.js"></script>