<!-- LOGIN FORM -->
<div class="column is-narrow">
    <div class="card m-3 is-align-content-space-around login">
        <div class="card-header has-background-primary">
            <div class="card-header-title">
                <h1 class="has-text-white is-size-3">
                    Login
                </h1>
            </div>
            <div class="card-header-icon">
                <span class="icon has-text-white is-size-2">
                    <ion-icon name="log-in-outline"></ion-icon>
                </span>
            </div>
        </div>
        <div class="card-content p-3">
            <form class="login-form">
                <div class="field">
                    <p class="m-1 fancy">Already a member? Login below!</p>
                    <br>
                    <label class="label" for="email-login">Email:</label>
                    <input class="input is-primary" type="text" id="email-login" />
                </div>
                <div class="field">
                    <label class="label" for="password-login">Password:</label>
                    <input class="input is-primary" type="password" id="password-login" autocomplete="current-password" />
                </div>
                <div class="control">
                    <br>
                    <button class="button is-primary is-fullwidth" type="submit"><b>Login</b></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- IMAGE -->
<div class="column is-narrow">
    <img src="/assets/sideimage.png" width="175" height="425">
</div>
<!-- SIGN UP FORM -->
<div class="column is-narrow">
    <div class="card m-3">
        <div class="card-header has-background-primary">
            <div class="card-header-title">
                <h1 class="has-text-white is-size-3">
                    Signup
                </h1>
            </div>
            <div class="card-header-icon">
                <span class="icon has-text-white is-size-2">
                    <ion-icon name="happy-outline"></ion-icon>
                </span>
            </div>
        </div>
        <div class="card-content p-3">
            <form class="signup-form">
                <div class="field">
                    <label class="label" for="username-signup">Username:</label>
                    <input class="input is-primary" type="text" id="username-signup" autocomplete="username" />
                </div>
                <div class="field">
                    <label class="label" for="email-signup">Email:</label>
                    <input class="input is-primary" type="text" id="email-signup" />
                </div>
                <div class="field">
                    <label class="label" for="password-signup">Password:</label>
                    <input class="input is-primary" type="password" id="password-signup" autocomplete="current-password" />
                </div>
                <div class="control">
                    <button class="button is-primary is-fullwidth" type="submit"><b>Signup</b></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ADD JAVASCRIPT -->
<script src="/javascript/login.js"></script>